<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Innolabz Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="../static/img/logo1.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!--  CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!--  Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" style="margin-top:1px;">
          <a class="hero-brand" href="index.html" title="Home"><img alt="innolabzLogo" src="../static/img/logo2.png"  width="250px" height="150px" ></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
          An INNOvative LABoratory for Gen-Z
        </h1>
        <p class="tagline">
        </p>
        <a class="btn btn-full scrollto" href="#about">Get Started Now</a>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div id="logo" class="me-auto">
        <a href="index.html"><img src="../static/img/logo2.png" alt="" width="150px" ></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">innolabz</a></h1>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="inner-page.html">Verticals</a></li>
              <li><a href="inner-page.html">What We Do</a></li>
              <li><a href="inner-page.html">Mision</a></li>
              <li><a href="inner-page.html">Vision</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#group">Group Companies</a></li>
          <li><a class="nav-link scrollto " href="#media">Media</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto " href="#career">Career</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/innolabz" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="container text-center">
        <h2>
          <span style="color:#183040"> About</span> <span style="color:#f79521">Innolabz</span>
        </h2>

        <p>
          INNOLABZ VENTURES PVT. LTD  is a leading 360-degree research, technology and consulting company having a ast network of professionals from multiple domains and geographies, having expertise and experience in their respective domains.
          Innolabz is a gen-z organisation aiming at bridging the gap between the industry and the talent We focus on the 3 E Mantra and are constantly working on Exploration, Experimentation and Employability. We believe in creating a sustainable Ecosystem, of the people, by the people and for the people.
        </p>
        <!-- ======= 3E MANTRAS ======= -->
<section id="about-boxes" class="about-boxes">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <img src="../static/img/Employability.jpg" class="card-img-top" alt="...">
          <div class="card-icon"> 
            <i class="ri-brush-4-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title" style=><a href="">EMPLOYBILITY</a></h5>
            <p class="card-text">As the needs of the industry are evolving and advancing, the academia shall brace up for the changes in workforce demand. To fulfill the changing yet increasing demand, InnoLabZ trains candidates to become purple squirrels by enhancing their employability.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="card">
          <img src="../static/img/Entrepreneurship.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="ri-calendar-check-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">ENTREPRENEUR</a></h5>
            <p class="card-text">With a shift in the industrial innovation, there has been a surge in the number of young entrepreneurs. To strengthen the business-ecosystem, InnoLabZ supports the emerging business and startups by training them in entrepreneurial skills. Apart from developing skills in latest business tools, InnoLabZ also provides one stop solution for all business needs such as web/UI/UX designing, digital marketing, legal & other compliances, virtual sales, etc. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="card">
          <img src="../static/img/Exploration.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="ri-movie-2-line"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">EXPLORATION</a></h5>
            <p class="card-text">InnoLabZ excessively focuses on exploration which leads to innovation. The exploration team is continually designing the learning and development initiatives. These initiatives would strengthen the business ecosystem by imparting necessary industry-skills. </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- 3E mantras -->   
</section><!-- End About Section -->
<!--group companies-->
     <section class="features" id="group">
      <div class="container">
        <h2 class="text-center">
          <span style="color:#183040"> Group</span> <span style="color:#f79521">Companies</span>
        </h2>
        <div class="row">         
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                <img src="../static\img/din.png" >
                </div>
              </div>

              <div>
                <h3>  De Influenza</h3>
                <p>
                  Dé-Influenza is the bridge between social media influencers and prospective brands. With this project we wish to create a community where brands can easily reach out to influencers for the promotion  and Influencers can broaden their reach in the industry too.
                </p>
              </div>
            </div>
          
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <img src="../static\img/MH12.png" >  
                </div>
              </div>

              <div>
                <h3> Mandi House</h3>
                <p>
                  Mandi House is an organic produce store. We work on the “Farm to Folk” Model. The project focuses on eliminating middlemen and provides organic products to the customers without any hassle. With consistent research and improvisation, we aim at providing the best services to all parties
                </p>
              </div>
            </div>
          
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <img src="../static\img/quirkynaari.jpg" >  
                </div>
              </div>

              <div>
                <h3>Quirky Naari</h3>
                <p>
                  Quirky Naari is our Bohemian project, offering the most trending and upbeat prints on the Internet. The project specializes in custom shoes. Quirky Naari added a feather in its cap when its prints seen in the Bigg Boss House.
                </p>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <img src="../static\img/supersub2.jpg" >   
                </div>
              </div>

              <div>
                <h3>Super Sub Café</h3>
                <p>
                  Super Sub Café is a food chain start-up. With this project, we aim to gain an edge in the Food industry. Currently catering to Cricket Players and Corporates, the café is focusing on expanding its services to other parts of the country.
                </p>
              </div>
            </div>
          
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <img src="../static\img/glorifystays2.png" >  
                </div>
              </div>

              <div>
                <h3>Glorify Stays</h3>
                <p>
                  Glorify Hotels and Resorts is our project in the hospitality sector. We are a one-stop solution for all our clients. Under Glorify Hotels and Resorts we aim to cater the best hospitality services in the market. We also offer management solutions to the market.
                </p>
              </div>
            </div>
          
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <img src="../static\img/capture.jpg" >  
                </div>
              </div>

              <div>
                <h3>Asimiti Aayurgavya</h3>
                <p>
                  Aayurgavya is our effort to bridge the gap between ‘Panchagavya’ and the potential customers. The project focuses on Education, Research and Practise. Aayurgavya will lessen the gap between the rural and urban India and help Ayurveda reach every doorstep
                </p>
              </div>
            </div>
          
        </div>
      </div>
    </section>
    <!-- End group companies -->

<!-- ======= media Section Html code ======= -->
    <section class="portfolio" id="media">

      <div class="container text-center">
        <h2>
          Media
        </h2>
      </div>

      <div class="portfolio-grid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news1.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news1.jpg">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news2.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news2.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news6.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news6.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news7.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news7.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news8.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news8.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news3.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news3.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news5.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news5.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/news4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="../static/img/news4.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End media Section -->
    

    <!-- ======= Team Section ======= -->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          <span style="color:#183040"> Meet</span> <span style="color:#f79521">Our</span><span style="color:#183040"> Team</span>
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#team"><img alt="" class="team-img" src="../static/img/c2.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Saurabh Chaturvedi</span> <span class="card-text">CEO</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                   <a href="https://www.linkedin.com/in/saurabhchaturvedi89/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>

                  <p>
                    Saurabh Chaturvedi is an Educationist and has the vision of making India a global leader in technology. He has worked with reputed MNC and strarup at local and international locations.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/c3.png">
                <div class="card-title-wrap">
                  <span class="card-title">Malvica Saxena</span> <span class="card-text">CO-Founder</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="https://www.linkedin.com/in/malvica-saxena-091378182/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>

                  <p>
                  An MBA in HR & Marketing, having rich experince in academia, Malvica Saxena identified the presistent GAP between industry and academia, which is widening with every passng day.
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/c4.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Kamalpreet Kaur</span> <span class="card-text">Vice President</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                  <a href="https://www.linkedin.com/in/kamalpreet0202/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>

                  <p>
                    With an industry experience of 10 years , Kamalpreet Rai is the Director of Glorify Stays and Hospitality Pvt Ltd. Formerly worked with Spicejet Airlines. She has also worked for Goibibo in the airlines contracting domain. 
                  </p>
                </div>
              </a>
            </div>
          </div>
          

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#team"><img alt="" class="team-img" id="one" src="../static/img/c5.png">
                <div class="card-title-wrap">
                  <span class="card-title">Akshat Singh</span> <span class="card-text">Head Expansion</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                   <a href="https://www.linkedin.com/in/akshat-s-286170212/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>

                  <p>
                    Akshat Singh is Growth specialist, having rich experience in working closley with founding teams of sevral startup where he has leveraged his expertise in their growth.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <center><div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/c6.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Raksha Yadav</span> <span class="card-text">Vice President B.D.</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                  <a href="https://www.linkedin.com/in/raksha-y-570a12190/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>

                  <p>
                    A competent professional with experience in Sales/Marketin/Business development.With demonstrated history of working in various industry. Leading Power2Startup project of Inno-labz aggressively.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <center>
        </div>
      </div>
    </section><!-- End Team Section -->
    <!-- ======= career ======= -->
    <section class="cta" id="career">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-start text-center">
            <h2>
              <span style="color:#183040"> Career</span>
            </h2>

            <p style="padding-bottom:30px;">
              Ready for challenges? Don’t worry, we got you covered. Innolabz Ventures is a Gen-Z organisations that will help you not only polish your skills but also build an enriching experience. So, if you have the passion to perform, patience to survive and persistence to never stop, Join us!
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center" style="padding-top:40px;">
            <a class="btn btn-ghost" href="career">Join us!</a>
          </div>
        </div>
      </div>
    </section><!-- career -->

        <!-- ======= Contact Section ======= -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title"><span style="color:#183040"> Contact</span><span style="color:#f79521"> Us</span></h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>C-108, Sector 2<br>Noida, Uttar Pradesh</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>info@inno-labz.com</p>
              </div>

              <div>
                <i class="bi bi-whatsapp"></i>
                <p> +91 8810613561</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
            
            <form method="post" action="/">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Your Name" required><br><br>
            <input type="email" id="email" name="email" placeholder="Your E-mail" required><br><br>
            <input type="tel" id="phone" name="phone" placeholder="Mobile Number" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}"><br><br>
            <textarea name="message" id="message" rows="8" cols="50" placeholder="Your Message" required></textarea><br><br>
            <center><button class="send-message-cta" type="submit">SUBMIT</button></center>
            </form>
            </div><!--Alert Box-->
            <!--{% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>{% endfor %}{% endif %}-->
            <!---->
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Inno-labz</strong>. All Rights Reserved
            </p>
   
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">About</a>
              </li>

              <li class="list-inline-item">
                <a href="#group">Group Companies</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Media</a>
              </li>
              
              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
              
            </ul>
                   
          </div>
          
          <div class="footer-social-links">
           <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/innolabz" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            
          </div>
          <div class="abc">
            <ul class="career">
              <li class="car">
                <a href="inner-page.html">Power2Career</a>
              </li>
              <li class="car">
                <a href="inner-page.html">Power2Startup</a>
              </li>
              <li class="car">
                <a href="inner-page.html">Power2Idea</a>
              </li>
              <li class="car">
                <a href="inner-page.html">Mission</a>
              </li>
              <li class="car">
                <a href="inner-page.html">Vision</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>

  <!--  Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>