<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>innolabz website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="../static/img/logo1.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!--  CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div id="logo" class="me-auto">
        <a href="index.html"><img src="../static/img/logo2.png" alt="" width="150px" ></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">innolabz</a></h1>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">About</a></li>
          <li><a class="nav-link scrollto" href="#verticals">Verticals</a></li>
          <li><a class="nav-link scrollto " href="#we">What We Do</a></li>
          <li><a class="nav-link scrollto" href="#vm">Mission&Vission</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/innolabz" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section class="inner-page">
      <div class="container">
        <p>
        </p>
      </div>
    </section>

  </main><!-- End #main -->
  
<!--VERTICALS-->
<section id="verticals" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <center><h2><span style="color:#183040">Verticals</span></h2></center>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box text-center" data-aos="zoom-in" data-aos-delay="100">
          <center><span><img src="../static/img/p2i (3).png" height="60px" width="150px" alt=""></span></center>
          <p style="padding-top:20px;">A great program for the promising young entrepreneurs, Power2Idea is basically an entrepreneurship development program that is aimed to transform the vivid dreams of the budding entrepreneurs into a living reality. With the help of well-experienced and highly adroit trainers and experts, the rising entrepreneurs are edified with the fundamentals of business and everything important that it takes to become a successful and renowned entrepreneur.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box text-center" data-aos="zoom-in" data-aos-delay="300">
          <center><span><img src="../static/img/p2s.png" height="60px" width="150px" alt=""></span></center>
          <p style="padding-top:20px;">A platform for startups to find the right resources for their venture in terms of knowledge, network and capital. Also, utilizing them for the growth of the organiation using the shared services provided by our partner network.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box text-center" data-aos="zoom-in" data-aos-delay="200">
          <center><span><img src="../static/img/p2c.png" height="60px" width="150px" alt=""></span></center>
          <p style="padding-top:20px;">In the contemporary, where competition is at every level, it is very important to make career choices with great intelligence and dexterity. A single mistake and you have to feel repentant about it for the rest of your life. Comprehending the same, we at INNOLABZ, came up with the idea of Power2Career program in which we train the graduates as per the emerging and present-day job prerequisites.</p>
        </div>
      </div>

      

    </div>

  </div>
</section>

<!--end verticals-->

    <!--What we do-->
    <section class="about" id="we">

      <div class="container text-center">
        <h2>
          <span style="color:#183040"> What</span> <span style="color:#f79521">We</span><span style="color:#183040"> Do</span>
        </h2>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span></span>
              Independent
            </div>
            <p style="padding-top: 20px;">we aim at creating self-sufficient individuals and industry. With minimal dependency on outsiders, we focus on maintaining an independent attitude.</p>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span></span>
              Gen-Z
            </div>
            <p style="padding-top: 20px;">Our primary objective is to cater to the needs of Gen-Z. We emphasise experimentation and empowering the youth.</p>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span ></span>
              Ecosystem
            </div>
            <p style="padding-top: 20px;">We are working towards creating an ecosystem by the people, of the people and for the people.</p>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span></span>
              Innovation
            </div>
            <p style="padding-top: 20px;">As our name suggests, innovation.is our backbone. Innovation is the need of the hour and we are dedicated to catering to this need.</p>
          </div>
        </div>
      </div>

    </section><!-- End what we do -->
    <!--vision/mission-->
    <section id="vm" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <center><h2><span style="color:#183040"> Mission</span> <span style="color:#f79521">&</span><span style="color:#183040"> Vission</span></h2></center>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6">
            <div class="icon-box">
              <h4>Mision</h4>
              <p>To create a collaborative ecosystem which is self sustaining through advancing education and developing entrepreneurship.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <h4>Vision</h4>
              <p>To be a global platform of choice for learning, networking and career development by offering personalised solution to everyone.</p>
            </div>
          </div>
      </div>
    </section><!-- mision/vision -->
  <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Inno-labz</strong>. All Rights Reserved
            </p>
   
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">About</a>
              </li>

              <li class="list-inline-item">
                <a href="#group">Group Companies</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Media</a>
              </li>
              
              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
              
            </ul>
                   
          </div>
          
          <div class="footer-social-links">
            <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/innolabz" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            
          </div>
          <div class="abc">
            <ul class="career">
              <li class="car">
                <a href="#">Power2Career</a>
              </li>
              <li class="car">
                <a href="#">Power2Startup</a>
              </li>
              <li class="car">
                <a href="#">Power2Idea</a>
              </li>
              <li class="car">
                <a href="#vm">Mission</a>
              </li>
              <li class="car">
                <a href="#vm">Vision</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>

  <!--  Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>